{% extends "base.html" %}
{% block content %}
<div>
    <br>
    <h2 class="center">{{ drink.name }}</h2>
    
    <h5 class="center">Average score:<br><b>{{ score }}/10</b></h5>
    
    <form action="/review/give/{{ drink.id }}" class="center">
        <button class="btn btn-warning">Click here to review {{ drink.name }}</button>
    </form>
    
    <div class="container">
        <div class="column">
            <br>
            <h5 class="center">Details for {{ drink.name }}</h5>
            
            
            <table class="table table-striped table-warning">
                <thead class="table">
                    <tr>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ category }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped table-warning">
                <thead class="table">
                    <tr>
                        <th scope="col">Alcohol percentage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ drink.percentage }}%</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped table-warning">
                <thead class="table">
                    <tr>
                        <th scope="col">General price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ drink.price }}€</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-warning">
                <thead class="table">
                    <tr>
                        <th scope="col">Stores, from which you can buy {{ drink.name }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for store in stores %}
                    <tr>
                        <td>{{ store.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="column">
            <div class="center">
                <br>
                <h5>All reviews for {{ drink.name }}</h5>

                <table class="table table-striped table-warning">
                    <thead class="table">
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Review score</th>
                            <th scope="col">Written review</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for review in reviews %}
                        <tr>
                            <td><a href="/profile/{{ review.username }}">{{ review.username }}</a></td>
                            <td>{{ review.score }}/10</td>
                            <td>"{{ review.review }}"</td>
                            {% if admin %}
                            <form action="/review/delete/{{ review.id }}" method="GET">
                                <td><button type="submit"class="btn btn-outline-danger">Delete this review</button></td>
                            </form>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% if admin %}
<div class="center">
    <form action="/drink/delete/{{ drink.id }}" method="GET">
        <button type="submit"class="btn btn-outline-danger">Delete {{ drink.name }}</button>
    </form>
</div>
{% endif %}
{% endblock %}


