{% extends "base.html" %}
{% block content %}
<div class="ms-me-8">
<div class="center">
    <br>
    {% if session['username'] %}
    <h2>Give a review for {{ drink.name }}</h2>
    <h5>If you have already reviewed {{ drink.name }}, your old review will be deleted and the new review will remain!</h5>
    <br>
    <form action="/review/add/{{ drink.id }}" method="POST">
        <div class="input-group input-group-lg">
        <label class="input-group-text" for="score_select">Give a score for {{ drink.name }}</label>
        <select name="score" class="form-select" id="score_select">
        {% if review %}
        <option value="1" {% if review.score  == 1 %}selected{% endif %}>1/10</option>
        <option value="2" {% if review.score  == 2 %}selected{% endif %}>2/10</option>
        <option value="3" {% if review.score  == 3 %}selected{% endif %}>3/10</option>
        <option value="4" {% if review.score  == 4 %}selected{% endif %}>4/10</option>
        <option value="5" {% if review.score  == 5 %}selected{% endif %}>5/10</option>
        <option value="6" {% if review.score  == 6 %}selected{% endif %}>6/10</option>
        <option value="7" {% if review.score  == 7 %}selected{% endif %}>7/10</option>
        <option value="8" {% if review.score  == 8 %}selected{% endif %}>8/10</option>
        <option value="9" {% if review.score  == 9 %}selected{% endif %}>9/10</option>
        <option value="10" {% if review.score  == 10 %}selected{% endif %}>10/10</option>
        {% else %}
        <option value="1" selected >1/10</option>
        <option value="2">2/10</option>
        <option value="3">3/10</option>
        <option value="4">4/10</option>
        <option value="5">5/10</option>
        <option value="6">6/10</option>
        <option value="7">7/10</option>
        <option value="8">8/10</option>
        <option value="9">9/10</option>
        <option value="10">10/10</option>
        {% endif %}
        </select>
        </div>

        <br>

        <div class="input-group input-group-lg">
        <label class="input-group-text" for="review_area">Write a review for {{ drink.name }}</label>
        {% if review %}
        <textarea type="text" name="review" class="form-control" id="review_area">{{ review.review }}</textarea><br>
        {% else %}
        <textarea type="text" name="review" class="form-control" id="review_area"></textarea><br>
        {% endif %}
        </div>



        <br>
        <div class="input-group input-group-lg">
        <input type="submit" class="btn btn-warning" value="Submit your review as {{ session['username'] }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        {% if message %}
        <b>{{ message }}</b>
        {% endif %}
        </div>
    </form>
    <br>
    {% else %}
    <h2>You need to login or sign up to review {{ drink.name }}</h2>
    {% endif %}
</div>
</div>
{% endblock %}