{% extends "base.html" %}
{% block content %}
<br>
<h2 class="center">Welcome to the alcoholic beverage review application</h2>

<div class="container">
    <div class="column">
        <br>
        <h4 class="center">Top 10 beverages based on average score:</h4>

        <table class="table">
            <thead class="table">
                <tr class="center">
                    <th scope="col">Name</th>
                    <th scope="col">Average score</th>
                </tr>
            </thead>
            <tbody>
                {% for drink in top10 %}
                <tr class="center">
                    <td><a href="/drink/{{ drink.id }}">{{ drink.name }}</a></td>
                    <td>{{ drink.avg }}/10</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column">
        <br>
        <h4 class="center">Top 5 users with most reviews:</h4>

        <table class="table">
            <thead class="table">
                <tr class="center">
                    <th scope="col">Username</th>
                    <th scope="col">Amount of reviews</th>
                </tr>
            </thead>
            <tbody>
                {% for user in top5 %}
                <tr class="center">
                    <td><a href="/profile/{{ user.username }}">{{ user.username }}</a></td>
                    <td>{{ user.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}