{% extends "base.html" %}
{% block content %}
<br>
<h2 class="center">Alcoholic beverage reviews</h2>
<p class="center"><i>This is a website for reviewing alcoholic beverages and comparing beverages based on their scoring.<br>
    If you cannot find a certain beverage, feel free to add new beverages to the website from the 'Browse and search beverages' page.<br>
    <b>(Note that you need to be logged in to review or add beverages.)</b>
     </i></p>
<div class="container">
    <div class="column">
        <br>
        <h4 class="center">Top 10 beverages based on average score:</h4>

        <table class="table table-striped table-warning">
            <thead class="table">
                <tr class="center">
                    <th scope="col">Name</th>
                    <th scope="col">Average score</th>
                </tr>
            </thead>
            <tbody>
                {% for drink in top10 %}
                <tr class="center">
                    <td><a href="/drink/{{ drink.id }}">{{ drink.name }}</a></td>
                    <td>{{ drink.avg }}/10</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column">
        <br>
        <h4 class="center">Top 5 users with most reviews:</h4>

        <table class="table table-striped table-warning">
            <thead class="table">
                <tr class="center">
                    <th scope="col">Username</th>
                    <th scope="col">Amount of reviews</th>
                </tr>
            </thead>
            <tbody>
                {% for user in top5 %}
                <tr class="center">
                    <td><a href="/profile/{{ user.username }}">{{ user.username }}</a></td>
                    <td>{{ user.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br><br><br><br>
<p class="center">Created by Mishka Hagelberg as a project for the course <i>Tietokannat ja web-ohjelmointi</i> at the University of Helsinki, Computer Science department.</p>
{% endblock %}