{% extends "base.html" %}
{% block content %}
<div class="center">
    <br>
    <h2>Welcome to the alcoholic beverage review application</h2>
    
    
</div>
<div class="container">
    <div class="column">
        <div class="center">
        <!-- Login functionality:-->
        <h4>Login here</h4>
        <form action="/login" method="POST">
        <p>
        <input type="text" name="username" placeholder="Username"></p>
        <p>
        <input type="password" name="password" placeholder="Password"></p>
        <input type="submit" value="Login">
        </form>
        {% if login_message %}
        <p><b>{{ login_message }}</b></p>
        {% endif %}<br>
        </div>
    </div>
    <div class="column">
        <div class="center">
            <br><br>
            <h4>Or</h4>
            <form action="/home_page" method="POST">
                <input type="submit" value="Continue without logging in">
            </form>
        </div>
    </div>
    <div class="column">
        <div class="center">
        <!--Sign up/account creation functionality:-->
        <h4>Sign up here</h4>
        <form action="/signup" method="POST">
        <p>
        <input type="text" name="username" placeholder="Username"></p>
        <p>
        <input type="password" name="password1" placeholder="Password"></p>
        <p>
        <input type="password" name="password" placeholder="Confirm password"></p>
        <input type="submit" value="Create account">
        </form>
        {% if signup_message %}
        <p><b>{{ signup_message }}</b></p>
        {% endif %}
        </div>
    </div>
    
</div>


{% endblock %}

