{% extends "base.html" %}
{% block content %}
<div class="center">
    <br>
    <h2>Alcoholic beverage reviews</h2>
    <br>
    <p class="center"><i>Welcome to the alcoholic beverage reviews website.<br>
        Please note that you have to login to review or add beverages.<br>
    <b>By proceeding from this page you guarantee that you are of the legal drinking age.</b>
    </i></p>
        
    
    <form action="/home_page" method="POST">
        <input type="submit" class="btn btn-warning" value="Continue without logging in">
    </form>
    
    
</div>
<div class="container">
    <div class="column">
        <div class="center">
        <!-- Login functionality:-->
        <br>
        <h4>Login here</h4>
        
        <form action="/login" method="POST">
        <p>
        {% if login_user %}
        <input type="text" class="form-control" name="username" placeholder="Username" value="{{ login_user }}" required></p>
        {% else %}
        <input type="text" class="form-control" name="username" placeholder="Username" required></p>
        {% endif %}
        <p>
        {% if login_pass %}
        <input type="password" class="form-control" name="password" value="{{ login_pass }}" placeholder="Password" required></p>
        {% else %}
        <input type="password" class="form-control" name="password" placeholder="Password" required></p>
        {% endif %}
        <input type="submit" class="btn btn-warning" value="Login">
        </form>
        {% if login_message %}
        <p><b>{{ login_message }}</b></p>
        {% endif %}<br>
        </div>
    </div>
    <div class="column">
        <div class="center">
        <!--Sign up/account creation functionality:-->
        <br>
        <h4>Sign up here</h4>
        <form action="/signup" method="POST">
        <p>
        {% if signup_user %}
        <input type="text" class="form-control" name="username" placeholder="Username" required value="{{ signup_user }}"></p>
        {% else %}
        <input type="text" class="form-control" name="username" placeholder="Username" required></p>
        {% endif %}
        <p>
        {% if signup_pass1 %}
        <input type="password" class="form-control" name="password1" placeholder="Password" required value="{{ signup_pass1 }}"></p>
        {% else %}
        <input type="password" class="form-control" name="password1" placeholder="Password" required></p>
        {% endif %}
        <p>
        {% if signup_pass %}
        <input type="password" class="form-control" name="password" placeholder="Confirm password" required value="{{ signup_pass }}"></p>
        {% else %}
        <input type="password" class="form-control" name="password" placeholder="Confirm password" required></p>
        {% endif %}
        <input type="submit" class="btn btn-warning" value="Create account">
        </form>
        {% if signup_message %}
        <p><b>{{ signup_message }}</b></p>
        {% endif %}
        </div>
    </div>
    
</div>
<br><br><br><br>
<p class="center">Created by Mishka Hagelberg as a project for the course <i>Tietokannat ja web-ohjelmointi</i> at the University of Helsinki, Computer Science department.</p>
{% endblock %}

