
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="/home_page" class="navbar-brand"> Alcoholic beverage reviews</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home_page">Home page</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/drinks">Browse and search beverages</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/profiles">Browse user profiles</a>
          </li>

          {% if session['username'] %}
          <li class="nav-item">
            <a class="nav-link" href="/profile/{{ session['username'] }}">Profile for {{ session['username'] }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout">Logged in as {{ session['username'] }} - Sign out</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Login or sign up</a>
          </li>
          {% endif %}
          
          
        </form>
      </div>
    </div>
  </nav>