{% extends "base.html" %}
{% block content %}
<div class="center">
    <br>
    <h2>All user profiles</h2>
    <form action="/profiles_s" method="GET">
        <p><input type="text" name="s_filter" placeholder="Search for username">
        <input type="submit" value="Search"></p>
    </form>



    <table class="table">
        <thead class="table">
            <tr>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody>
            {% for name in profiles %}
            <tr>
                <td><a href="/profile/{{ name[0] }}">{{ name[0] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}