{% extends "base.html" %}
{% block content %}
<div class="ms-me-8">
<div class="center">
    <br>
    <h2>Profile for {{ username }}</h2>
    <br>

    <h5>All reviews from {{ username }}:</h5>
    <table class="table">
        <thead class="table">
            <tr>
                <th scope="col">Beverage name</th>
                <th scope="col">Review score</th>
                <th scope="col">Written review</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td><a href="/drink/{{ review.drink_id }}">{{ review.name }}</a></td>
                <td>{{ review.score }}/10</td>
                <td>"{{ review.review }}"</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}