{% extends "base.html" %}
{% block content %}
<div class="ms-me-8">
<div class="center">
    <br>
    <h2>All user profiles</h2>
    <br>
    <form action="/profiles_s" method="GET">
        <div class="input-group mb3">
            <input type="text" class="form-control" name="s_filter" placeholder="Search for username" aria-describedby="search_button">
            <input type="submit" class="btn btn-outline-secondary" id="search_button" value="Search">
        </div>
    </form>



    <table class="table">
        <thead class="table">
            <tr>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody>
            {% for user in profiles %}
            <tr>
                <td><a href="/profile/{{ user.username }}">{{ user.username }}</a></td>
                {% if admin %}
                <form action="/profile/delete/{{ user.id }}" method="GET">
                    <td><button type="submit"class="btn btn-outline-danger">Delete {{ user.username }}</button></td>
                </form>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}